<a href="https://colab.research.google.com/github/shubhisaxena1202/Predicting-Red-Hat-Business-Value/blob/master/Red_hat_0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#LoadingData

In [0]:
from google.colab import drive
import os

In [3]:
drive.mount('/content/gdrive',force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
root_dir="/content/gdrive/My Drive/project"

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
people=pd.read_csv(root_dir+"/people.csv")

In [7]:
people.head()

    people_id  char_1      group_1  char_2  ... char_35 char_36 char_37 char_38
0     ppl_100  type 2  group 17304  type 2  ...    True    True   False      36
1  ppl_100002  type 2   group 8688  type 3  ...    True    True   False      76
2  ppl_100003  type 2  group 33592  type 3  ...   False    True    True      99
3  ppl_100004  type 2  group 22593  type 3  ...    True    True    True      76
4  ppl_100006  type 2   group 6534  type 3  ...    True    True   False      84

[5 rows x 41 columns]

In [8]:
activity=pd.read_csv(root_dir+"/act_train.csv")
activity.head()

  people_id   activity_id        date  ... char_9  char_10 outcome
0   ppl_100  act2_1734928  2023-08-26  ...    NaN  type 76       0
1   ppl_100  act2_2434093  2022-09-27  ...    NaN   type 1       0
2   ppl_100  act2_3404049  2022-09-27  ...    NaN   type 1       0
3   ppl_100  act2_3651215  2023-08-04  ...    NaN   type 1       0
4   ppl_100  act2_4109017  2023-08-26  ...    NaN   type 1       0

[5 rows x 15 columns]

In [10]:
#Which is the top activity performed
activity.activity_category.value_counts()

type 2    904683
type 5    490710
type 3    429408
type 4    207465
type 1    157615
type 6      4253
type 7      3157
Name: activity_category, dtype: int64

In [0]:
#renaming columns
activity.rename(columns={'char_1':'act_char_1','char_2':'act_char_2','char_3':'act_char_3',
                                  'char_4':'act_char_4','char_5':'act_char_5','char_6':'act_char_6',
                                  'char_7':'act_char_7','char_8':'act_char_8','char_9':'act_char_9',
                                  'char_10':'act_char_10'},inplace=True)

In [12]:
activity.head()

  people_id   activity_id        date  ... act_char_9 act_char_10 outcome
0   ppl_100  act2_1734928  2023-08-26  ...        NaN     type 76       0
1   ppl_100  act2_2434093  2022-09-27  ...        NaN      type 1       0
2   ppl_100  act2_3404049  2022-09-27  ...        NaN      type 1       0
3   ppl_100  act2_3651215  2023-08-04  ...        NaN      type 1       0
4   ppl_100  act2_4109017  2023-08-26  ...        NaN      type 1       0

[5 rows x 15 columns]